body{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    font-size: 12px;
    text-align: left;
    width: 25%;
    background-color: salmon;
}

legend{
    background-color: maroon;
    color: white;
}

input[type="submit"]{

    width: 26.5%;
    text-align: center;
    background-color: salmon;
    margin-top: 5px;
    border: solid 1px black;
}