body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: url(kompas.jpg) no-repeat center fixed;
    color: white;
    background-size: cover;
}

.noord{
text-align: center;

}
.oost{
    position: absolute;
    right: 0px;
    top: 50%;
}
.zuid{
    position: absolute;
    left: 50%;
    top: 100%;
    
}
.west{
    position: absolute;
    left: 0px;
    top: 50%;
    
}

.responsive{
    width: 100%;
    height: auto;
}